.App {
  text-align: center;
}

.admin-table {
  width: 80% !important; 
  margin: 0 auto !important; 
  border: 0.1em solid #a09e9e !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.admin-table th, .admin-table td {
  padding: 8px !important; 
  text-align: center !important; 
}

.custom-fields {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.custom-field-item {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.custom-field-item:last-child {
  border-bottom: none;
}

.custom-field-name {
  font-weight: 600;
  color: #343a40;
}

.custom-field-type {
  font-style: italic;
  color: #6c757d;
}

h2, h4 {
  font-weight: bold;
  color: #343a40;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.collection-details {
  margin-top: 20px;
}

.collection-header {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.collection-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #343a40;
}

.collection-header h2 {
  font-size: 1.5rem;
  color: #6c757d;
}

.collection-header p {
  font-size: 1.2rem;
  color: #495057;
}

.items-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #343a40;
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #dee2e6;
}

.add-item-form {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-item-form h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.react-select-container {
  font-size: 1rem;
  color: #333;
}

.react-select__control {
  border-color: #ccc !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  &:hover {
      border-color: #007bff !important;
  }
}

.react-select__menu {
  border-radius: 4px;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  padding: 20px 0;
  background-color: #f8f9fa;
}

@media (min-width: 768px) {
  .add-item-form {
      width: 50%;
      margin: 0 auto;
  }
}

